<div class="container-fluid text-white" id="top">
    <h3>GITHUB SEARCH</h3>
    <P>Search for any Github User and Repos</P>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <form #searchUser='ngForm' (ngSubmit)="submitUserName()">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search Github Username" [(ngModel)]="searchedUser" name="username" required> 
                </div>
                <button type="submit">Search</button>
            </form>
            <br>
            <div class="container-fluid" id="info">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md">
                            <img src="{{user.avatar_url}}">
                        </div>
                        <div class="col-md">
                            <div class="card-body">
                                <h5 class="card-title">Github Info</h5>
                                <div class="card-text">
                                    <ul>
                                        <li>Username: {{ user.login }}</li>
                                        <li>Name: {{ user.name }}</li>
                                        <li>Location: {{ user.location }}</li>
                                        <li>Public Repos: {{ user.public_repos }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{{ user.html_url }}" class="btn btn-block" style="border-color: black;">View On Github</a>
            </div>
            <br>
            <h2 class="text-white">REPOSITORIES</h2>
            <div class="container row">
                <div class=" card-deck">
                    <div *ngFor="let repo of repos">
                        <div class="card text-white bg-dark mb-3">
                            <div class=" text-center card-header">
                                <h4>{{repo.name}}</h4>
                            </div>
                            <div class="card-body">
                                <p>{{repo.description}}</p>
                                <a href="{{repo.html_url}}" class="text-align-center" target="_blank"
                                class="btn btn-block card-footer">View repository on Github</a>
                            </div>
                            <div class="card-footer">
                                <p><span class="repo-language-color" style="background-color: #2b7489"></span><b>ProgrammingLanguage:</b>
                                {{repo.language}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <app-githubrepos></app-githubrepos>
        </div>
    </div>
</div>