<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="assets/images/barsil.png" style="width: 100%;">
                <h1>Barsil Odiwuor Ochola</h1>
                <p class="title">Software Developer</p>
                <p>Moringa Core</p>
                <div style="margin: 24px 0;">
                    <a href=""><i class="fa fa-linkedin"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="col">
            <h1><strong>GITHUB INFORMATION</strong></h1>
            <h2>You can find me on Github:</h2>
        </div>
    </div>
</div>