.container-fluid {
    background-color: slategrey;
    padding-top: 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }

  a {
    font-size: 22px;
    color: black;
    display: inline-block;
    padding-left: 8px;
  }

  #ghi img{
    border-radius: 8px;
    height: 100px;
  }

  #repos {
      background-color: black;
      max-width: 100%;
      text-align: left;
      color: white;
  }

  footer {
      text-align: center;
  }
