<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="assets/images/barsil.png" style="width: 100%;">
                <h1>Barsil Odiwuor Ochola</h1>
                <p class="title">Software Developer</p>
                <p>Moringa Core</p>
                <div style="margin: 24px 0;">
                    <a href=""><i class="fa fa-linkedin"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-9" id="ghi">
            <h1><strong>GITHUB INFORMATION</strong></h1>
            <h2>You can find me on Github:</h2>
            <p><strong>Github Username: BarsilNzola</strong></p>
            <p><strong>Gtithub Profile Photo:</strong>
            <br><img src="assets/images/githubprof.png"> </p>
            <div class="card" id="repos">
                <p><strong>Github Repos:</strong></p>
                <ol>
                    <li>Name: quotes-angular</li>
                    <ul>
                        <li>Description: angular app to upload quotes, downvote and upvote them</li>
                        <li>Live Link: <a href="https://barsilnzola.github.io/quotes-angular/">https://barsilnzola.github.io/quotes-angular/</a></li>
                    </ul>
                    <li>Name: yolomy</li>
                    <ul>
                        <li>Description: a static webpage for yolomy landing page</li>
                        <li>Live Link: <a href="https://barsilnzola.github.io/yolomy/">https://barsilnzola.github.io/yolomy/</a></li>
                    </ul>
                    <li>Name: pizzariba</li>
                    <ul>
                        <li>Description: a simple webpage to take pizza orders based on size, toppings, crust and quantity</li>
                        <li>Live Link: <a href="https://barsilnzola.github.io/pizzariba/">https://barsilnzola.github.io/pizzariba/ </a></li>
                    </ul>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <footer>Copyright 2020 Barsil Odiwuor</footer>
        </div>
    </div>
</div>